<VirtualHost *:80>
    ServerName 172.18.0.101

    ErrorLog ${APACHE_LOG_DIR}/{{ apache_error_log_file_name }}
    CustomLog ${APACHE_LOG_DIR}/{{ apache_access_log_file_name }} combined

    Alias /static {{ project_path }}/static
    <Directory {{ project_path }}/static>
        Require all granted
    </Directory>

    <Directory {{ project_path }}/{{ project_name }}>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    WSGIDaemonProcess {{ project_name }} python-home={{ virtualenv_path }} python-path={{ project_path }}
    WSGIProcessGroup {{ project_name }}
    WSGIScriptAlias / {{ project_path }}/{{ project_name }}/wsgi.py

</VirtualHost>