<VirtualHost *:80>
    ServerName 172.18.0.101

    ErrorLog ${APACHE_LOG_DIR}/ansible_error.log
    CustomLog ${APACHE_LOG_DIR}/ansible_access.log combined

    Alias /static /home/pwierzgala/ansible_django/static
    <Directory /home/pwierzgala/ansible_django/static>
        Require all granted
    </Directory>

    <Directory /home/pwierzgala/ansible_django/ansible_django>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    WSGIDaemonProcess ansible_django python-home=/home/pwierzgala/venv/ python-path=/home/pwierzgala/ansible_django
    WSGIProcessGroup ansible_django
    WSGIScriptAlias / /home/pwierzgala/ansible_django/ansible_django/wsgi.py

</VirtualHost>
